@charset "UTF-8";
/* Basic Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style-type: none;
  border: none;
  text-decoration: none; }

*:focus {
  outline: none; }

ul, h1, h2, h3, h4 {
  margin: 0px; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

@font-face {
  font-family: 'Conv_bebas-neue-regular';
  src: url("../fonts/bebas-neue-regular.eot");
  src: local("☺"), url("../fonts/bebas-neue-regular.woff") format("woff"), url("../fonts/bebas-neue-regular.ttf") format("truetype"), url("../fonts/bebas-neue-regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Conv_bebas-neue-bold';
  src: url("../fonts/bebas-neue-bold.eot");
  src: local("☺"), url("../fonts/bebas-neue-bold.woff") format("woff"), url("../fonts/bebas-neue-bold.ttf") format("truetype"), url("../fonts/bebas-neue-bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Conv_BPG_Nino_Mtavruli_Bold';
  src: url("../fonts/BPG_Nino_Mtavruli_Bold.eot");
  src: local("☺"), url("../fonts/BPG_Nino_Mtavruli_Bold.woff") format("woff"), url("../fonts/BPG_Nino_Mtavruli_Bold.ttf") format("truetype"), url("../fonts/BPG_Nino_Mtavruli_Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Conv_bpg_nino_mtavruli_normal';
  src: url("../fonts/bpg_nino_mtavruli_normal.eot");
  src: local("☺"), url("../fonts/bpg_nino_mtavruli_normal.woff") format("woff"), url("../fonts/bpg_nino_mtavruli_normal.ttf") format("truetype"), url("../fonts/bpg_nino_mtavruli_normal.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Conv_bpg_web';
  src: url("../fonts/bpg_web.eot");
  src: local("☺"), url("../fonts/bpg_web.woff") format("woff"), url("../fonts/bpg_web.ttf") format("truetype"), url("../fonts/bpg_web.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Conv_bpg_web_002_caps';
  src: url("../fonts/bpg_web_002_caps.eot");
  src: local("☺"), url("../fonts/bpg_web_002_caps.woff") format("woff"), url("../fonts/bpg_web_002_caps.ttf") format("truetype"), url("../fonts/bpg_web_002_caps.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
.home_main_fluid {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(5, 47, 81, 0.7), rgba(5, 47, 81, 0.7)), url("../images/home_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 0px 0px;
  position: relative; }

.top_fluid {
  padding: 10px 0;
  background-color: rgba(255, 255, 255, 0.85); }

.top_container {
  max-width: 1376px; }
  .top_container .top_mobile_box img {
    padding-right: 10px; }
  .top_container .top_social_box {
    display: flex;
    justify-content: flex-end; }
    .top_container .top_social_box .top_socials a:not(:last-child) {
      display: inline-block;
      padding-right: 5px; }

.header_container {
  max-width: 1376px;
  padding: 60px 0; }
  .header_container .header_content_box {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .header_container .header_content_box .header_up_wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #fff; }
    .header_container .header_content_box .header_down_wrapper {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 2%; }
      .header_container .header_content_box .header_down_wrapper .header_right_bott_navv ul {
        display: flex; }
        .header_container .header_content_box .header_down_wrapper .header_right_bott_navv ul li a {
          color: #fff;
          font-size: 25px;
          font-family: 'Conv_BRUSH-G'; }
    .header_container .header_content_box .header_navigation ul {
      display: flex; }
      .header_container .header_content_box .header_navigation ul li:not(:last-child) {
        margin-right: 25px; }
      .header_container .header_content_box .header_navigation ul li:first-child {
        margin-left: 15px; }
      .header_container .header_content_box .header_navigation ul li a {
        color: #fff;
        font-size: 25px;
        font-family: 'Conv_bebas-neue-regular';
        position: relative; }
        .header_container .header_content_box .header_navigation ul li a:after {
          position: absolute;
          content: "";
          width: 100%;
          height: 1.5px;
          background-color: #E87118;
          top: 32px;
          left: 0;
          z-index: 10;
          opacity: 0;
          transition: .3s; }
        .header_container .header_content_box .header_navigation ul li a:hover:after {
          opacity: 1; }
    .header_container .header_content_box .header_right_info_box .header_right_up {
      display: flex; }
      .header_container .header_content_box .header_right_info_box .header_right_up .language_box {
        padding-left: 5px; }
        .header_container .header_content_box .header_right_info_box .header_right_up .language_box span {
          color: #fff;
          font-size: 25px;
          font-family: 'Conv_bebas-neue-regular';
          cursor: pointer; }
          .header_container .header_content_box .header_right_info_box .header_right_up .language_box span:first-child {
            position: relative; }
            .header_container .header_content_box .header_right_info_box .header_right_up .language_box span:first-child:after {
              position: absolute;
              content: "";
              width: 1px;
              height: 100%;
              background-color: #fff;
              top: 0px;
              right: -9px;
              z-index: 10; }
          .header_container .header_content_box .header_right_info_box .header_right_up .language_box span:last-child {
            padding-left: 10px;
            color: #E87118; }
      .header_container .header_content_box .header_right_info_box .header_right_up .header_search_box {
        padding-left: 15px;
        display: flex;
        align-items: center;
        position: relative; }
        .header_container .header_content_box .header_right_info_box .header_right_up .header_search_box .search_bar {
          position: absolute;
          top: 3px;
          right: 31px;
          width: 0px;
          overflow: hidden;
          transition: .4s; }
          .header_container .header_content_box .header_right_info_box .header_right_up .header_search_box .search_bar.active {
            width: 200px; }
          .header_container .header_content_box .header_right_info_box .header_right_up .header_search_box .search_bar input {
            background-color: #fff;
            width: 100%;
            outline: none;
            padding: 5px 5px;
            font-family: 'Conv_bpg_nino_mtavruli_normal'; }
        .header_container .header_content_box .header_right_info_box .header_right_up .header_search_box span {
          line-height: 1px;
          cursor: pointer; }
          .header_container .header_content_box .header_right_info_box .header_right_up .header_search_box span img {
            width: 21px; }
      .header_container .header_content_box .header_right_info_box .header_right_up .header_door_box {
        padding: 0 15px;
        display: flex;
        align-items: center; }
        .header_container .header_content_box .header_right_info_box .header_right_up .header_door_box span {
          cursor: pointer; }

.note_box {
  position: absolute;
  top: 35%;
  right: 0;
  width: 180px;
  background-color: #E87118;
  padding: 2px 15px; }
  .note_box span {
    color: #fff;
    font-size: 22px;
    font-family: 'Conv_bebas-neue-regular';
    cursor: pointer; }

.footer_fluid {
  background-color: #272D34;
  padding: 30px 0; }
  .footer_fluid .footer_icons {
    margin-top: 20px; }
    .footer_fluid .footer_icons a:not(:last-child) {
      padding-right: 2px; }
  .footer_fluid .footer_contact_tittle {
    text-align: center; }
    .footer_fluid .footer_contact_tittle h2 {
      color: #E87118;
      font-size: 35px;
      font-family: 'Conv_bebas-neue-regular'; }
  .footer_fluid .container .address_row .col-lg-4 {
    padding-right: 5px; }
  .footer_fluid .container .address_box {
    margin-top: 30px;
    padding-left: 25px; }
    .footer_fluid .container .address_box img {
      padding-right: 10px; }
    .footer_fluid .container .address_box span {
      color: #fff;
      font-size: 14px;
      font-family: 'Conv_bpg_nino_mtavruli_normal'; }
  .footer_fluid .container .footer_form form .input_submit {
    display: flex;
    justify-content: center; }
    .footer_fluid .container .footer_form form .input_submit button {
      background-color: #E87118;
      outline: none;
      color: #fff;
      font-family: 'Conv_bebas-neue-regular';
      font-size: 15px;
      padding: 5px 20px;
      cursor: pointer; }
  .footer_fluid .container .footer_form form .input_wrapper {
    display: flex;
    margin: 15px 0;
    overflow-y: hidden; }
    .footer_fluid .container .footer_form form .input_wrapper > div {
      width: 50%; }
    .footer_fluid .container .footer_form form .input_wrapper .input_lf_box {
      margin-right: 10px; }
    .footer_fluid .container .footer_form form .input_wrapper .input_rg_box {
      margin-left: 10px; }
    .footer_fluid .container .footer_form form .input_wrapper input {
      background-color: #404A55;
      color: #fff;
      font-family: 'Conv_bpg_nino_mtavruli_normal';
      font-size: 12px;
      width: 100%;
      padding: 6px 65px;
      margin-bottom: 5px; }
      .footer_fluid .container .footer_form form .input_wrapper input::placeholder {
        color: #fff;
        font-family: 'Conv_bpg_nino_mtavruli_normal'; }
    .footer_fluid .container .footer_form form .input_wrapper textarea {
      background-color: #404A55;
      color: #fff;
      font-family: 'Conv_bpg_nino_mtavruli_normal';
      font-size: 12px;
      width: 100%;
      resize: none;
      height: 65px;
      padding: 6px 16px; }
      .footer_fluid .container .footer_form form .input_wrapper textarea::placeholder {
        color: #fff; }

.home_Video_content {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .home_Video_content .home_video_box .home_video {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px; }
    .home_Video_content .home_video_box .home_video .video_wrap {
      max-width: 460px;
      height: 200px;
      overflow: hidden; }
      .home_Video_content .home_video_box .home_video .video_wrap video {
        width: 100%;
        height: 100%;
        cursor: pointer;
        object-fit: cover; }
    .home_Video_content .home_video_box .home_video .video_link {
      margin-top: 10px; }
      .home_Video_content .home_video_box .home_video .video_link a {
        display: inline-block;
        color: #fff;
        font-size: 18px;
        font-family: 'Conv_bebas-neue-regular';
        background-color: #E87118;
        padding: 10px 50px 10px 10px;
        float: right;
        position: relative; }
        .home_Video_content .home_video_box .home_video .video_link a:after {
          position: absolute;
          top: 50%;
          right: 4px;
          transform: translateY(-50%);
          content: "";
          width: 34%;
          height: 2px;
          background-color: #fff; }
    .home_Video_content .home_video_box .home_video video {
      width: 100%;
      height: 100%; }
  .home_Video_content .home_video_box .home_video_tittle {
    margin-bottom: 10px; }
    .home_Video_content .home_video_box .home_video_tittle h2 {
      color: #fff;
      font-size: 30px;
      font-family: 'Conv_bebas-neue-regular'; }

/*// destination*/
.destination_fluid {
  padding-top: 130px;
  background-color: #fff; }
  .destination_fluid .container .dest_img_box img {
    max-width: 500px;
    display: block;
    margin-left: auto; }
  .destination_fluid .container .dest_info_box {
    height: 100%;
    display: flex;
    align-items: center; }
    .destination_fluid .container .dest_info_box .dest_text .circle_shape {
      float: left;
      shape-outside: polygon(0px 0px, 65px 132px, 10px 0px);
      width: 60px;
      height: 115px; }
    .destination_fluid .container .dest_info_box .dest_text p {
      font-size: 12px;
      color: #414042;
      font-family: 'Conv_bpg_web_002_caps';
      word-spacing: 5px; }
      .destination_fluid .container .dest_info_box .dest_text p span {
        color: #E87118;
        padding-right: 5px; }

/*// Offers*/
.offers_fluid {
  background-color: #124477;
  padding: 20px 0; }
  .offers_fluid .offers_tittle {
    width: 100%;
    border-bottom: 1px solid #fff;
    text-align: center; }
    .offers_fluid .offers_tittle h2 {
      color: #fff;
      font-size: 35px;
      font-family: 'Conv_bebas-neue-regular';
      border-bottom: 5px solid #fff;
      display: inline-block;
      padding-bottom: 10px; }
  .offers_fluid .container {
    padding: 50px 0 20px 0; }
    .offers_fluid .container .organizations_box {
      text-align: center; }
      .offers_fluid .container .organizations_box h3 {
        color: #fff;
        font-size: 25px;
        font-family: 'Conv_bebas-neue-regular'; }
    .offers_fluid .container .organizations_text {
      padding: 40px 50px 15px;
      box-shadow: 0px 0px 20px 0px #000;
      margin-top: 15px; }
      .offers_fluid .container .organizations_text p {
        color: #fff;
        font-size: 12px;
        font-family: 'Conv_bpg_web';
        text-align: justify;
        word-spacing: 3px;
        max-height: 180px;
        overflow: hidden;
        text-overflow: ellipsis; }
      .offers_fluid .container .organizations_text a {
        color: #fff;
        font-size: 18px;
        font-family: 'Conv_bebas-neue-regular';
        float: right;
        position: relative;
        margin-right: 46px; }
        .offers_fluid .container .organizations_text a:after {
          content: "";
          position: absolute;
          width: 50%;
          height: 2px;
          background-color: #fff;
          top: 50%;
          transform: translateY(-50%);
          right: -45px; }

/*// about us*/
.about_us_fluid {
  background-color: #00233A;
  padding: 20px 0; }
  .about_us_fluid .about_tittle {
    text-align: center; }
    .about_us_fluid .about_tittle h2 {
      color: #E87118;
      font-size: 35px;
      font-family: 'Conv_bebas-neue-regular';
      border-bottom: 5px solid #E87118;
      display: inline-block;
      padding: 5px 0; }
  .about_us_fluid .container {
    padding: 45px 0;
    max-width: 1240px; }
    .about_us_fluid .container .about_content .about_img {
      width: 145px;
      height: 145px;
      border-radius: 50%;
      overflow: hidden;
      margin: 0 auto; }
      .about_us_fluid .container .about_content .about_img a {
        display: block; }
        .about_us_fluid .container .about_content .about_img a img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
    .about_us_fluid .container .about_text {
      margin-top: 15px;
      padding: 0 15px; }
      .about_us_fluid .container .about_text p {
        color: #fff;
        font-family: 'Conv_bpg_web';
        text-align: justify;
        font-size: 14px; }

/*// modal*/
.modal-body {
  padding: 0; }

.note_tittle {
  background-color: #E87118;
  text-align: center;
  padding: 12px 0; }
  .note_tittle h2 {
    font-size: 25px;
    font-family: 'Conv_bebas-neue-regular';
    color: #fff; }

.note_form {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 40px; }
  .note_form form {
    position: relative; }
    .note_form form .note_calendar_box {
      text-align: left; }
      .note_form form .note_calendar_box .modal_calendar {
        border: 1px solid #272D34;
        display: flex; }
      .note_form form .note_calendar_box label {
        color: #939598;
        font-size: 16px;
        font-family: 'Conv_bpg_web_002_caps';
        padding-left: 15px; }
    .note_form form .note_input_box {
      margin-top: 20px; }
      .note_form form .note_input_box input {
        background-color: transparent;
        border-bottom: 1px solid #272D34;
        color: #939598;
        font-size: 16px;
        font-family: 'Conv_bpg_web_002_caps';
        display: block;
        width: 100%;
        margin-bottom: 15px;
        padding: 10px 15px; }
        .note_form form .note_input_box input::placeholder {
          color: #939598;
          font-family: 'Conv_bpg_web_002_caps'; }
  .note_form .type_of_meet {
    background-color: #052F51;
    width: 100%;
    margin-top: 15px;
    padding: 12px 15px; }
    .note_form .type_of_meet h3 {
      font-family: 'Conv_bpg_web_002_caps';
      font-size: 16px;
      color: #fff; }

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 960px;
    margin: 5.75rem auto; } }
.calendar_time_min label {
  font-size: 18px !important;
  color: #E87118 !important;
  font-family: 'Conv_bpg_nino_mtavruli_normal' !important;
  padding-left: unset !important; }
.calendar_time_min input {
  background-color: transparent;
  border: 1px solid #272D34;
  color: #939598;
  font-size: 16px;
  font-family: 'Conv_bpg_web_002_caps';
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 5px 12px; }

#calendar-wrap {
  width: 65%;
  padding: 10px 55px 20px; }

.calendar_time_min {
  width: 35%;
  text-align: center;
  padding: 15px 18px; }

.calendar-days-names-item {
  font-size: 11px;
  color: #020202;
  font-weight: bold; }

#calendar-month, #calendar-year {
  font-size: 18px;
  color: #E87118;
  display: inline-block;
  margin-left: -5px; }

.calendar-cell {
  color: #000; }

.calendar-arrow-right {
  position: absolute;
  top: 7px;
  right: 0px;
  width: 19px; }

.calendar-arrow-left {
  position: absolute;
  top: 7px;
  left: 0px;
  width: 19px; }

.calendar-body-row:last-child {
  display: none; }

.calendar-cell-gray {
  color: #c7cbcd !important; }

.cld_submit {
  position: absolute;
  top: 100%;
  right: -40%; }
  .cld_submit button {
    outline: none;
    background-color: #E87118;
    color: #fff;
    font-family: 'Conv_bpg_nino_mtavruli_normal';
    padding: 6px 30px 4px;
    cursor: pointer; }

.notification_box {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(39, 45, 52, 0.95);
  z-index: 2000;
  display: none;
  transition: .4s; }
  .notification_box.active {
    display: block; }
  .notification_box .notification_content {
    max-width: 500px;
    height: 190px;
    border-radius: 10px;
    background-color: #272D34;
    margin: 15% auto 0;
    display: flex;
    justify-content: center;
    align-items: center; }
    .notification_box .notification_content span {
      color: #fff;
      font-size: 25px;
      font-family: 'Conv_bebas-neue-regular'; }

.pilosophy_main_fluid {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 0px 0px;
  position: relative; }

.filosophy_header_fluid {
  background-color: #124477;
  padding: 0; }

.filosophy_fluid {
  padding: 30px 0; }

.filosophy_tittle {
  width: 100%;
  text-align: center; }
  .filosophy_tittle h2 {
    color: #124477;
    font-size: 35px;
    font-family: 'Conv_bebas-neue-regular';
    border-bottom: 5px solid #124477;
    padding: 0 10px 5px;
    display: inline-block; }

.filosophy_container {
  padding: 50px 0; }
  .filosophy_container .filosophy_wrapper {
    display: flex;
    flex-wrap: wrap; }

.filosophy_text {
  padding: 0px 90px 0px 0px; }
  .filosophy_text p {
    color: #00233A;
    font-size: 14px;
    font-family: 'Conv_bpg_web'; }

.pilosophy_logo {
  width: 50%;
  text-align: center;
  margin-bottom: 40px; }
  .pilosophy_logo h3 {
    color: #124477;
    font-size: 16px;
    font-family: 'Conv_bpg_web';
    margin: 10px 0; }
  .pilosophy_logo p {
    color: #124477;
    font-size: 12px;
    font-family: 'Conv_bpg_web'; }

.investors_slider_container .slider_content {
  border-radius: 50%;
  width: 107px;
  height: 107px;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #124477; }
  .investors_slider_container .slider_content a {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff; }
    .investors_slider_container .slider_content a img {
      width: 65px; }

.investor_main_container {
  margin-top: 50px; }
  .investor_main_container .investor_tittle_box {
    position: relative; }
    .investor_main_container .investor_tittle_box .investor_dropdown_content {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer; }
      .investor_main_container .investor_tittle_box .investor_dropdown_content img {
        position: absolute;
        top: 11px;
        right: 4px; }
      .investor_main_container .investor_tittle_box .investor_dropdown_content select {
        background-color: #052F51;
        border: none;
        border-bottom: 1px solid #fff;
        width: 240px;
        color: #fff;
        font-family: 'Conv_bpg_nino_mtavruli_normal';
        font-size: 16px;
        cursor: pointer;
        line-height: 1.6; }
        .investor_main_container .investor_tittle_box .investor_dropdown_content select option {
          cursor: pointer; }
    .investor_main_container .investor_tittle_box .investor_tittle {
      text-align: center; }
      .investor_main_container .investor_tittle_box .investor_tittle h2 {
        font-family: 'Conv_bebas-neue-regular';
        font-size: 35px;
        display: inline-block;
        border-bottom: 5px solid #fff;
        padding: 0px 12px 0px;
        color: #fff; }

.investors_main_contents {
  width: 100%;
  margin-top: 50px;
  position: relative; }
  .investors_main_contents .investors_company_logo_box {
    border-radius: 50%;
    width: 210px;
    height: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #124477;
    position: absolute;
    top: -65px;
    left: -105px;
    z-index: 100; }
    .investors_main_contents .investors_company_logo_box a {
      width: 185px;
      height: 185px;
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff; }
      .investors_main_contents .investors_company_logo_box a img {
        width: 140px; }
  .investors_main_contents .investors_main_text {
    background-color: #fff;
    padding: 50px 100px 110px 130px;
    border-radius: 0px 0px 10px 10px;
    display: none;
    animation: invAnime .3s; }
    .investors_main_contents .investors_main_text.active {
      display: block; }
    .investors_main_contents .investors_main_text p {
      color: #00233A;
      font-size: 14px;
      font-family: 'Conv_bpg_web'; }
  .investors_main_contents .investors_content_tab_panel {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: #124477;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 0px 0px 5px 0px #0000007d; }
    .investors_main_contents .investors_content_tab_panel .investors_tab_box {
      display: flex;
      padding: 5px; }
      .investors_main_contents .investors_content_tab_panel .investors_tab_box > div {
        margin-right: 20px; }
        .investors_main_contents .investors_content_tab_panel .investors_tab_box > div h3 {
          color: #fff;
          font-family: 'Conv_bebas-neue-regular';
          opacity: .3;
          font-size: 19px;
          cursor: pointer;
          border-bottom: 2px solid transparent;
          transition: .4s; }
      .investors_main_contents .investors_content_tab_panel .investors_tab_box .inv_tab_wrap.active h3 {
        opacity: 1;
        border-bottom: 1px solid #fff; }

@keyframes invAnime {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*# sourceMappingURL=main.css.map */
