
.pilosophy_main_fluid {
	width: 100%;
    height: 100vh;
    background-image: url("../images/home_inv_bg.png");

    padding: 0px 0px;
    position: relative;
}



.filosophy_header_fluid {

	    background-color: #124477;
	 
			padding: 0;
}


.filosophy_fluid {
	 padding: 30px 0;
}


.filosophy_tittle {
	width: 100%;
	text-align: center;
	  h2 {
			
			color: #124477;
			font-size: 35px;
			font-family: 'Conv_bebas-neue-regular';
			border-bottom: 5px solid #124477;
			padding: 0 10px 5px;
			display: inline-block;

	  }
}


.filosophy_container {

		padding: 50px 0;

		.filosophy_wrapper {

			display: flex;
			flex-wrap: wrap;
		}
}


.filosophy_text {

	padding: 0px 90px 0px 0px;

	  p  {

	  	color: #00233A;
	  	font-size: 14px;
	  	font-family: 'Conv_bpg_web';

	  }
}


.pilosophy_logo {

	width: 50%;
	text-align: center;
	    margin-bottom: 40px;
	

	  img {

	  }


	  h3 {
			color: #124477;
			font-size: 16px;
			font-family: 'Conv_bpg_web';
			margin: 10px 0;
	  }


	  p {
	  	font-size: 12px;
	  	color: #124477;
		font-family: 'Conv_bpg_web';
	  }
}


.resp_logo {
	display: none;
}
@media only screen and (max-width: 1280px){

	.filosophy_tittle h2 {
   		 font-size: 25px;
   		 padding: 0 8px 1px;
	}

	.filosophy_text p {
   
    font-size: 12px;
   
	}

	.pilosophy_logo h3 {
    	font-size: 13px;
	}

	.pilosophy_logo p {
	    font-size: 10px;
	    
	}

	.pilosophy_logo img{
   		width: 70px;
	}

	.pilosophy_main_fluid {
   
     height: unset; 
     overflow: hidden;
   
}

}

@media only screen and (max-width: 992px){
/*		.main_logo_box {
			display: none;
		}

	.resp_logo{
		display: block;
	}*/

	/*.filosophy_header_fluid {
		background-color: transparent;
	}
*/

.header_container .header_content_box .header_right_info_box .header_right_up {
  
    margin-left: 30px;
}

.filosophy_text {
     padding:unset; 
}
.filosophy_text {
    padding: unset;
    max-width: 800px;
    width: 90%;
        margin: 0 auto 30px;
}
.filosophy_text p {
    text-align: justify;
}
.filosophy_tittle h2 {
    font-size: 22px;
    padding: 0 5px 1px;
}
.filosophy_text p {
    font-size: 11px;
}

.pilosophy_logo h3 {
    font-size: 11px;
}
.pilosophy_logo p {
    font-size: 9px;
        padding: 0px 15px;
}

}