
.investors_slider_container {
	
	 .slider_content {

			border-radius: 50%;
			width: 107px;
    		height: 107px;
			border: 2px solid #fff;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #124477;


	 	 a {

	 	 	
	 	 	width: 95px;
	 	 	height: 95px;
	 	 	border-radius: 50%;
	 	 	overflow: hidden;
	 	 	display: flex;
	 	 	align-items: center;
	 	 	justify-content: center;
	 	 	background-color: #fff;

	 	 	 img {

	 	 	 	 width: 65px;
	 	 	 }
	 	 }
	 }
}




.investor_main_container {
	        padding: 50px 15px 200px;

	 .investor_tittle_box {

	 	 position: relative;
				
				.investor_dropdown_content {

					 position: absolute;
					 top: 0;
					 right: 0;
					 cursor: pointer;

					  img {
					  	position: absolute;
						top: 13px;
  					  right: 6px;

					  }

					   select {
					   	background-color: #052F51;
					   	border: none;
					   	border-bottom: 1px solid #fff;
					   	width: 240px;
					   	color: #fff;
					   	font-family: 'Conv_bpg_nino_mtavruli_normal';
					   	font-size: 16px;
					   	cursor: pointer;
					   	line-height: 1.6;

					   	option {
					   		cursor: pointer;
					   	}

					   }
				}


	 	 		.investor_tittle{
	 	 			text-align: center;

	 	 			 h2 {
	 	 			 	font-family: 'Conv_bebas-neue-regular';
	 	 			 	font-size: 35px;
	 	 			 	display: inline-block;
	 	 			 	border-bottom: 5px solid #fff;
	 	 			 	padding: 0px 12px 0px;
	 	 			 	color: #fff;
	 	 			 }
	 	 		}
	 }
}


.investors_main_contents {

	position: relative;



	.inv_donwload_boxes {
		position: absolute;
		left: 100%;
		width: 42px;
    	height: 56px;

		 button {
		 	background-image: url("../images/inv_pdf_icon.png") ,linear-gradient(#E87118,#E87118);
		 	background-repeat: no-repeat;
		 	background-position: center center;
		 	width: 100%;
		 	height: 100%;
		 	display: flex;
		 	align-items: center;
		 	justify-content: center;
		 	outline: none;
		 }

		 &.download1 {
			top: 85px;
		 }

		 &.download2 {
			
			    top: 145px;
		 }
	}

	 width: 100%;
	 margin-top: 100px;
	 position: relative;


	  .investors_company_logo_box {

	  	border-radius: 50%;
	    width: 210px;
	    height: 210px;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    background-color: #124477;
	    position: absolute;
	    top: -65px;
    	left: -105px;
    	 z-index: 100;


	  	   a {
	  	   	width: 185px;
		    height: 185px;
		    border-radius: 50%;
		    overflow: hidden;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    background-color: #fff;

	  	   	  img {
    				width: 140px;
	  	   	  }
	  	   }
	  }


	 .investors_main_text {
	 	background-color: #fff;
	 	padding: 50px 100px 110px 130px;
    	border-radius: 0px 0px 10px 10px;
    	display: none;
    	animation: invAnime .3s;

    		.investors_hor_info_box {

    			display: flex;
    			justify-content: space-between;
    			align-items: flex-end;

    			&>div {

    				&:not(:last-child){
    					margin-right: 50px;
    				}
    			}
					
					.inv_chart_box{

						flex-grow: 1;

						#container {
							width: 100% !important;
						}
					}



    			h3 {
    				color: #E87118;
    				font-size: 14px;
    				font-family: 'Conv_BPG_Nino_Mtavruli_Bold';
    			}
    			span {
    				color: #00233A;
    				font-size: 14px;
    				font-family: 'Conv_BPG_Nino_Mtavruli_Bold';
    			}

    			h4 {
 
    				font-size: 12px;
    				font-family: 'Conv_BPG_Nino_Mtavruli_Bold';
    			}
				
				.inv_obl {
					text-align: center;


				}

				.inv_fond {

					text-align: center;

				}

				.inv_employer_box {

					&>div {
						    padding: 4px 9px 1px;
					}


					.employer_before {
						border:1px solid #E87118;
						margin-bottom: 5px;


						h4 {
							color: #E87118;
						}

					}

					.employer_after {
						border: 1px solid #00233A;

						h4 {
							color: #00233A;
						}

					}


				}

    		}

    	&.active {
    		display: block;
    	}


			
			
		


	 	 p {
	 	 	color: #00233A;
	 	 	font-size: 14px;
	 	 	font-family: 'Conv_bpg_web';
	 	 }
	 }

	   .investors_content_tab_panel {

	   		display: flex;
	   		justify-content: flex-end;
			width: 100%;
			background-color: #124477;
			border-radius: 5px 5px 0px 0px;
    		box-shadow: 0px 0px 5px 0px #0000007d;

			.investors_tab_box {

				display: flex;
				padding: 5px;
					
					&>div {
						margin-right: 20px;
						h3 {
							color: #fff;
							font-family: 'Conv_bebas-neue-regular';
							opacity: .3;
							font-size: 19px;
							cursor: pointer;
							border-bottom: 2px solid transparent;
							transition: .4s;
						}
					}


					.inv_tab_wrap.active{

						 

						 	 h3 {
						 	 	opacity: 1;
						 	 	border-bottom: 1px solid #fff;
						 	 
						 }
					}

			}


	   }
}

.investor_header_fluid {
	
    background-color: #124477;
     background-image: url(../images/home_inv_bg.png); 
    padding: 0;

}

@keyframes invAnime {

	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

canvas {
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}








/*// responsive*/


@media only screen and (max-width: 1400px) and (min-width: 992px){

	.investors_main_contents .investors_main_text .investors_hor_info_box {
     display: unset; 
    
}

}


@media only screen and (max-width: 1368px){
	.investors_main_contents .investors_company_logo_box a {
	    width: 160px;
	    height: 160px;
	  
	}
	.investors_main_contents .investors_company_logo_box {
   
    width: 195px;
    height: 195px;
   
}

.investor_main_container  {
	max-width: 950px;
}

}


@media only screen and (max-width: 1280px){

	.investor_main_container .investor_tittle_box .investor_tittle h2 {
    	font-size: 25px;
    	padding: 0px 6px 0px;
  
	}

	.investor_main_container .investor_tittle_box .investor_dropdown_content select {
   
    width: 185px;
    font-size: 13px;
    line-height: 2;

}
.investors_main_contents .investors_content_tab_panel .investors_tab_box > div h3 {
   
    font-size: 15px;
   
}

.investors_main_contents .investors_main_text p {
    
    font-size: 12px;
    
}
.investors_main_contents .investors_main_text {
    
    padding: 50px 70px 80px 109px;
}

.investor_main_container {
    max-width: 790px;
}
.investors_main_contents .investors_company_logo_box a {
    width: 130px;
    height: 130px;
}
.investors_main_contents .investors_company_logo_box a img {
    width: 90px;
}
.investors_main_contents .investors_company_logo_box {
    width: 165px;
    height: 165px;
}

}



@media only screen and (max-width: 992px){

.investors_slider_container {

}

.owl-carousel.owl-drag .owl-item {
   
   
    justify-content: center;
    display: flex;
}

.investor_main_container .investor_tittle_box .investor_tittle h2 {
    font-size: 21px;
    padding: 0px 4px 0px;
}

.investors_main_contents .investors_company_logo_box {

      top: -27px;
    left: -18px;
        width: 130px;
    height: 130px;
    
}
.investors_main_contents .investors_company_logo_box a {
    width: 110px;
    height: 110px;
}
.investors_main_contents .investors_company_logo_box a img {
    width: 70px;
    height: 30px;
}
.investors_main_contents .investors_main_text p {
    font-size: 11px;
}

.investors_main_contents .inv_donwload_boxes.download1 {
    top: unset;
    left: unset;
    bottom: -56px;
    right: 115px;
}
.investors_main_contents .inv_donwload_boxes.download2 {
     top: unset;
    left: unset;
    bottom: -56px;
    right: 56px;
}
.investors_main_contents {
    
    width: 90%;
    max-width: 800px;
  
    margin: 100px auto 0;
   
}

.investors_main_contents .investors_content_tab_panel .investors_tab_box {
    
     flex-direction: column; 
}

.investors_main_contents .investors_main_text {
    padding: 35px 25px 40px 25px;
}
.investor_main_container .investor_tittle_box .investor_dropdown_content {
 
    top: 60px;
  
}

.investors_hor_info_box {
	flex-wrap: wrap;
}
.investors_hor_info_box>div {
	flex: 0 0 50%;
	margin-bottom: 20px;
}
.investors_main_contents .investors_main_text .investors_hor_info_box > div:not(:last-child) {
     margin-right:unset;
}
.investors_main_contents .investors_main_text .investors_hor_info_box {

    align-items: center;
}

}


@media only screen and (max-width: 700px){

	.investors_hor_info_box > div {
    flex: 0 0 100%;
    
}

.investors_main_contents .investors_main_text {
    padding: 35px 10px 40px 10px;
}

}

@media only screen and (max-width: 360px) {

	.investors_main_contents .investors_content_tab_panel .investors_tab_box > div {
     margin-right: unset; 
}

.investors_main_contents {
    width: 100%;
   
}

.investors_main_contents .investors_content_tab_panel .investors_tab_box > div h3 {
    font-size: 13px;
}
}